@media(max-width: 1500px)
{
    footer{
        padding: 32px 150px 56px;
    }
}
@media(max-width: 1440px)
{
.section2_img{
    width: 28%;
}
.changewidth{
    width: 60%;
}
.boxnone{
    display: none;
}

}


