@media(max-width: 1500px) {
    footer {
        padding: 32px 150px 56px;
    }
}

@media(max-width: 1440px) {
    .section2_img {
        width: 28%;
    }

    .changewidth {
        width: 60%;
    }

    .boxnone {
        display: none;
    }
    .contentdiv{
        gap: 45px;
        justify-content: space-evenly;
    }
}
@media(max-width: 1300px) {
    .sortdiv{
        width: 14%;
    }
    .section2_page2_div{
        width: 85%;
    }
    .formdiv{
        width: 45%;
    }
    
}

