@media(max-width: 540px)
{
    .header_logo{
       flex-direction: column;
    }
 .article{
    width: 75%;
    /* gap: 2px; */
 }
 .section4_button{
width: 75%;
 }
 .headerlogo_div{
    width: 50%;
    flex-wrap: wrap;
 }
 .section1_div{
    width: 95%;
 }
 .section1h1 {
    font-size: 32px;
}
.article2_box1,
.article2_box2,
.article2_box3,
.article2_box4 {
    background-size: 90%;
}
.box1_div {
    width: 22%;
    margin: 196px auto 16px 50px;
    padding: 12px;
}
.article1button{
    margin-top: 32px;
}
.footer_contacts{
    width: 100%;
}
.footer_logo{
    width: 60%;
}
.footerdiv_1{
    width: 55%;
}
.formdiv{
    width: 96%;
}
}
@media(max-width: 465px)

{
    .sec2page2_none{
        display: none;
    }
    .contentdiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .p2box{
        width: 90%;
    }
    .article{
        width: 95%;
        justify-content: space-around;
    }
    .section3{
        height: 200px;
        padding: 25px 25px;
        margin-bottom: 64px;
    }
    .article1button{
        width: 60%;
    }
    .pagesdiv{
        margin: 53px auto 64px;
    }
    
}
@media(max-width: 440px)
{
    .footer_logo{
        width: 70%;
    }
    .section4_button{
        width: 75%;
        padding: 12px;
    }
    .section4_title{
        font-size: 28px;
    }
    .form3{
        
        gap: 16px;
    }}
    .input3{
        width: 30%;
    }
}
@media(max-width: 400px)
{
    .box1_div {
        width: 22%;
        margin: 186px auto 16px 20px;
        padding: 12px;
    }
    .section3_title{
        font-size: 28px;
    }

   header{
    padding: 2px;
   }
   .headerdiv_3{
    gap: 6px    ;
   }
}
@media(max-width: 360px){
    .pagesbox{
        padding: 10px;
    }
    .pagesbox1{
        padding: 10px;
    }
    .pagesul{
        margin: auto;
    }
    .form3{
        width: 100%;
    }
}