/* font-family: 'Inter', sans-serif; */
.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    border: 1px solid red;
}

/* header  */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px;
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.fa-bars , .fa-x {
    display: none;
}

.header_nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.header_li {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.header_nav .header_li {
    position: relative;
    padding: 4px;
}

.header_nav .header_li::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #B53B1B;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.header_nav .header_li:hover:before {
    width: 100%;
}



li:nth-child(1) a {
    color: #D5906E;
}

.header_logo {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: transform .2s;
}

.header_logo:hover {
    transform: scale(0.8);
}


.logo_span {
    color: #D5906E;
}

.headerdiv_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header_user {
    position: relative;
    padding: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.header_user::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #B53B1B;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.header_user:hover:after {
    width: 100%;
}


.fa-cart-shopping {
    font-size: 24px;
    color: #FFFFFF;
    transition: transform .2s;
}

.fa-cart-shopping:hover {
    transform: scale(1.4);
}

/* banner */
.section1 {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Rectangle\ 106.png);
    background-position: center;
    position: relative;
}

.section1_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 249px;
    /* border: 3px solid red; */
    position: absolute;
    top: 30%;

}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    animation: titlelight 1s ease infinite;
}

@keyframes titlelight {

    0%,
    100% {
        text-shadow: 0 0 10px #6277ffa8,
            0 0 20px #5e74ffa8,
            0 0 20px #7587ffa8,
            0 0 20px #8595ffa8,
            0 0 2px #fed128,
            2px 2px 2px #806914;
        color: #D5906E;
    }

    50% {
        text-shadow: 0 0 2px #ffffffa8, 0 0 5px #ffffffa8, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #D5906E;
    }
}

.section1_p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 72px;
}

.button_div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.section1_button {
    width: 50%;
    padding: 19px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    background-color: transparent;
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: transform 2s;
}

.section1_button:hover {
    transform: scale(1.2);
    cursor: pointer;


}

/* article */
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 70%;
    margin: 160px auto;
    /* border: 4px solid green; */
}

.box {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* border: 2px solid red; */
}

.box_img {
    width: 100%;
    height: 160px;
}

.box_p {
    color: #B53B1B;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section2 */
.section2 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 96px;
    background: #402101;
}

.section2_title {
    color: #FFF;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section2_div {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* article2 */

.article2 {
    width: 80%;
    margin: 160px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    position: relative;
    /* border: solid 2px yellow; */
}

.article2::before{
    content: url(../images/arrow1.svg);
    position: absolute;
    left: -60px;
    cursor: pointer;
   
}
.article2::after{
    content: url(../images/arro2.svg);
    position: absolute;
    right: -60px;
    cursor: pointer;
}

.article2_box1 {
    width: 100%;
    height: 260px;
    background-image: url(../images/article2img1.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: transform .2s;
}

.article2_box1:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.article2_box2 {
    width: 100%;
    height: 260px;
    background-image: url(../images/article2img2.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: transform .2s;
}

.article2_box2:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.article2_box3 {
    width: 100%;
    height: 260px;
    background-image: url(../images/article2img3.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: transform .2s;
}

.article2_box3:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.article2_box4 {
    width: 100%;
    height: 260px;
    background-image: url(../images/article2img4.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: transform .2s;
}

.article2_box4:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.box1_div {
    width: 32%;
    padding: 17px;
    margin: 196px auto 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    border-style: none;
    background-color: white;
}

.box1_p {
    z-index: 1;
    color: #B53B1B;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section3 */
.section3 {
    width: 100%;
    height: 480px;
    background-image: url(../images/section3.png);
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 160px;
    margin: auto;
    margin-bottom: 160px;
}

.section3_div {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.section3_title {
    color: #FFF;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.form1 {
    /* padding: 19px; */
    display: flex;
    border-radius: 10px;
    border: 1px solid #FFF;
}

.input1 {
    width: 65%;
    border-style: none;
    padding-left: 19px;
    background-color: transparent;
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::placeholder {
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit1 {
    width: 35%;
    height: 56px;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;
    background-color: white;
    color: #402101;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

/* section4 */
.section4 {
    width: 80%;
    text-align: center;
    margin: auto;
    /* border: 2px solid blue; */
}

.section4_title {
    color: #402101;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
}

.section4_article {
    display: flex;
    justify-content: space-between;
    text-align: start;
    gap: 60px;
    margin-bottom: 112px;
}

.section4_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    /* border: 1px solid red; */
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
}

.section4_box_title {
    color: #B53B1B;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section4_box_article {
    color: #402101;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section4_title2 {
    color: #402101;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.section4_button {
    width: 35%;
    display: inline-flex;
    padding: 14px 52px;
    margin-bottom: 160px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    background: #B53B1B;
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: transform 2s;
}

.section4_button:hover {
    transform: scale(1.2);
}

/* footer */
footer {
    width: 100%;
    padding: 32px 335px 56px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background: #402101;
}

.footerdiv_1 {
    width: 22%;
}

.footer_title {
    color: #FFF;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_p {
    margin: 16px 0 8px 0;
    color: #FFF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_social {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 22%;
}

.footer_contacts {
    width: 24%;
}

.phone {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 29px;
    vertical-align: middle;
}

.phonenumb {
    color: #FFF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}