@media(max-width: 1150px) {
    .article {
        width: 80%;
    }

    .section4_article {
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
    }

    .section4_box {
        width: 40%;
    }
}

@media(max-width: 1110px) {
    .section4_button {
        width: 45%;
    }

    footer {
        padding: 32px 60px 56px;
    }

    .pagesdiv {
        width: 50%;
    }
}

@media(max-width: 950px) {

    .section1h1 {
        font-size: 35px;
    }

    .section1_p {
        font-size: 14px;
        line-height: 150%;
    }

    .header_nav {
        width: 40%;
        height: 160px;
        position: fixed;
        top: 76px;
        left: -100%;
        flex-direction: column;
        gap: 0;
        justify-content: space-around;
        align-items: center;
        background: #B53B1B;
        transition: 1s linear;
    }

    .fa-bars {
        display: block;
        font-size: 32px;
        color: white;
    }

    .fa-xmark {
        font-size: 32px;
        color: white;
    }

    .show_hide {
        left: 0;
    }

    .pagesbox {
        width: 32px;
        height: 32px;
        border: 4px solid #B53B1B;
    }
    .pagesbox1{
        width: 32px;
        height: 32px;
        border: 4px solid #B53B1B;  
    }
    .pagesdiv {
        width: 60%;
    }
    .section1_div{
        width: 80%;
    }
}

@media(max-width: 860px) {
    .section4_button {
        width: 60%;
    }
    .section2_page2_div{
        width: 95%;
    }
    .contentdiv{
        margin: 64px 0 90px 0;
        gap: 30px;
    }
}

@media(max-width: 700px) {
 

    .header_logo {
        font-size: 32px;
    }

    .article {
        width: 65%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: 35%
    }

    .section1_div {
        width: 70%;
    }


    .section2 {
        padding: 30px;
    }

    .section2_div {
        flex-direction: column;
    }

    .section2_img {
        width: 100%;
    }

    .none {
        display: none;
    }

    .article2_div {
        flex-direction: column;
        gap: 10px;
    }

    .article2_title {
        text-align: center;
    }

    .article2::before,
    .article2::after {
        display: none;
    }

    .article2_box1,
    .article2_box2,
    .article2_box3,
    .article2_box4 {
        background-size: 80%;
    }

    .box1_div {
        width: 15%;
        margin: 196px auto 16px 70px;
    }

    .article1button {
        width: 40%;
        display: flex;
    }

    .section3 {
        height: 200px;
        padding: 45px 50px;
        margin-bottom: 64px;
    }

    .section3_div {
        gap: 24px;
    }

    .section3_title {
        font-size: 32px;
    }

    .article2 {
        margin-bottom: 48px;
    }

    .section4_title {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .section4 {
        width: 94%;
    }

    .section4_box {
        width: 100%;
    }

    .section4_article {
        margin-bottom: 28px;
    }

    .section4_button {
        width: 65%;
        margin-bottom: 64px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footerdiv_1 {
        width: 35%;
        text-align: center;
    }

    .footer_social {
        margin-top: 32px;
        margin-bottom: 40px;
    }

    .footer_logo {
        width: 45%;
        margin-bottom: 64px;
    }

    .footer_contacts {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section1_div{
        width: 85%;
    }
    .section1h1_page2{
        font-size: 32px;
        margin-bottom: 34px;
    }
    .pagesdiv {
        width: 70%;
    }
     /* .p2title_div{
        justify-content: space-around;
     } */
    .sortdiv{
        width: 20%;
    }
    .section2_page2_div{
        width: 100%;
    }
}

@media(max-width: 600px) {
    .pagesdiv {
        width: 90%;
}
.section2_page2_div{
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}
.sec2page2_div1{
   width: 50%;
}
.buttondiv2{
    width: 100%;
  
}
.pagesbox{
    padding: 14px;
}
.pagesbox1{
    padding: 14px;
}
.pagesul{
    margin: auto;
}

}